<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="KOGAS One-Stop Service" />
    <meta name="author" content="Henry_ub" />
    <title>KOGAS, One-stop service</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">|
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVSRNY03C8"></script>
    {% block head %}
    {% endblock %}
</head>

<body class="sb-nav-fixed">

    <!-- flash 메시지 출력 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[0]}}")
    </script>
    {% endif %}
    {% endwith %}

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- 상단바 -->
        <!-- Navbar Brand-->
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <a class="navbar-brand ps-3" href="{{ url_for('index') }}">
            간이공사 원스톱 서비스 </a>
        <!-- Navbar Search-->

        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div style="text-align: center;">
                <!-- 유저 이름 및 관리자페이지 이동 버튼  -->
                <!-- 로그인 -->
                {% if login == True %}
                <a href="{{ url_for('serviceStatus') }}"><button class="cBtn find-btn1"
                        style="background-color:cadetblue ;">{{supervisor}}</button></a>
                {% endif %}
                {% if login == True %}
                <form action="{{url_for('logout')}}" method="post" style="display :inline-block;">
                    <input type="hidden" id="userInput" name="userInput">
                    <button type="submit" class="cBtn find-btn1" style="display :inline-block;" name="free_button"
                        value="free_button" onClick="confirmBooking('{{supervisor}}')"> 로그아웃 </button>
                </form>
                {% else %}
                <a href="{{ url_for('login') }}"><button class="cBtn find-btn1">로그인</button></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- 사이드 메뉴 -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!-- HOME -->
                        <!-- <div class="sb-sidenav-menu-heading">Home</div> -->
                        <a class="nav-link" href="#">공지사항</a>
                        <a class="nav-link" href="#">개요</a>
                        {% if login == True %}
                        <a class="nav-link" href="{{ url_for('serviceStatus') }}">공사/용역 리스트</a>
                        {% endif %}
                        {% block MyMenu %}
                        {% endblock %}
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    {% block main %}
                    <!-- 제목 -->
                    <!-- <h1 class="mt-4" style="text-align:left;"><b>메인페이지</b></h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">One-stop service for simplified construction</li>
                    </ol> -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            <b>공지사항</b>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple1">
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>등록일</th>
                                        <th>조회수</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>등록일</th>
                                        <th>조회수</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr onclick="location.href='#';" style="cursor:pointer;">
                                        <td>1</td>
                                        <td>KOGAS One-Stop 서비스 사용법</td>
                                        <td>관리자</td>
                                        <td>2022-10-02</td>
                                        <td>67</td>
                                    </tr>
                                    <tr onclick="location.href='#';" style="cursor:pointer;">
                                        <td>2</td>
                                        <td>첨부파일 업로드시 주의사항</td>
                                        <td>관리자</td>
                                        <td>2022-10-03</td>
                                        <td>45</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header"
                            style="display: flex; align-items: center; justify-content: space-between;">
                            <div>
                                <i class="fas fa-table me-1"></i>
                                <b>공사/용역 리스트</b>
                            </div>
                            {% if login == True %}
                            <a href="{{ url_for('createConstruction') }}"><button class="cBtn">신규생성</button></a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple2">
                                <thead>
                                    <tr>
                                        <th>구분</th>
                                        <th>계약건명</th>
                                        <th>사업장</th>
                                        <!-- <th>업체명</th> -->
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>구분</th>
                                        <th>계약건명</th>
                                        <th>사업장</th>
                                        <!-- <th>업체명</th> -->
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for construction in constructionList %}
                                    <!-- 해당 공사 상세페이지로 이동 -->
                                    <tr onclick="location.href='/pr/{{construction[0]}}';" style="cursor:pointer;">
                                        <td>{{construction[12]}}</td>
                                        <td>{{construction[1]}}</td>
                                        <td>{{construction[2]}}</td>
                                        <!-- <td>{{construction[3]}}</td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </main>
            <div class="modal_bg">
                <div class="passwd_modal">
                    <p>업체 로그인 비밀번호를 입력해 주세요</p>
                    <input type="password" placeholder="비밀번호 입력" />
                    <button type="button">로그인</button>
                </div>
            </div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; KOGAS, One-stop service for simplified construction
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        function confirmBooking(elem) {
            if (confirm(elem + ', 로그아웃 하시겠습니까?') == true) {
                document.getElementById("userInput").value = "True";
            }
            else {
                document.getElementById("userInput").value = "False";
                return 0;
            }
        }
    </script>
    {% block js %}
    {% endblock %}
</body>

</html>