{% extends "index.html" %}
{% block MyMenu %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/myPage.css') }}">

<!-- MY MENU -->
<div class="sb-sidenav-menu-heading">{{data[1]}}</div>
<a class="nav-link" href="{{ url_for('myPage') }}">
    한 눈에 보기
</a>
<!-- 계약 단계 -->
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false"
    aria-controls="collapseLayouts">
    계약 단계
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapse1" aria-labelledby="heading1" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ url_for('contractInput') }}">기본정보 입력하기</a>
    </nav>
    <!-- 계약 승인 후 활성화 -->
    {% if progress >= 2 or login==True %}
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ url_for('contractTable') }}">필요 서류</a>
    </nav>
    {% else %}
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ url_for('forbidden') }}">필요 서류</a>
    </nav>
    {% endif %}
</div>
<!-- 계약단계의 서류를 업로드 완료 후 메뉴 활성화 -->
{% if progress >= 3 or login==True %}
<!-- 착공 단계 -->
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
    aria-controls="collapseLayouts">
    착공 단계
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapse2" aria-labelledby="heading2" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="#">기본정보 입력하기</a>
    </nav>
    <!-- 착공 승인 후 활성화 -->
    {% if progress >= 5 or login==True %}
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="#">필요 서류</a>
    </nav>
    {% endif %}
</div>
{% endif %}

{% if progress >= 6 or login == True %}
<!-- 준공 단계 -->
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
    aria-controls="collapseLayouts">
    준공 단계
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapse3" aria-labelledby="heading3" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="#">기본정보 입력하기</a>
    </nav>
    <!-- 준공 승인 후 활성화 -->
    {% if progress >= 8 or login==True %}
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="#">필요 서류</a>
    </nav>
    {% endif %}
</div>
{% endif %}
{% endblock %}


{% block main %}

<head>
    <script>
        const processes = [
            {
                progress: 0,
                title: '계약 기본정보 입력',
                content: "업체의 기본 계약 정보를 입력해 주세요."
            },
            {
                progress: 1,
                title: '승인 대기',
                content: "가스공사에서 계약 단계 서류 검토 중입니다."
            },
            {
                progress: 2,
                title: '계약 서류 업로드',
                content: "계약 단계 필요 서류를 출력 후 직인을 찍고 업로드 해주세요."
            },
            {
                progress: 3,
                title: '착공 정보 입력',
                content: "업체의 착공 단계 정보를 입력해 주세요.."
            },
            {
                progress: 4,
                title: '승인 대기',
                content: "가스공사에서 착공 단계 서류 검토 중입니다."
            },
            {
                progress: 5,
                title: '착공 서류 업로드',
                content: "착공 단계 필요 서류를 출력 후 직인을 찍고 업로드 해주세요."
            },
            {
                progress: 6,
                title: '준공 정보 입력',
                content: "업체의 준공 단계 정보를 입력해 주세요."
            },
            {
                progress: 7,
                title: '승인 대기',
                content: "가스공사에서 준공 단계 서류 검토 중입니다."
            },
            {
                progress: 8,
                title: '준공 서류 업로드',
                content: "준공 단계 필요 서류를 출력 후 직인을 찍고 업로드 해주세요."
            },
            {
                progress: 9,
                title: '준공 승인 완료',
                content: ''
            },
        ]

        function setProcesses() {
            //temp 말고 현재 단계로 넣어주세요
            let temp = {{progress}}
            const dom = processes.map(process =>
                `<div class="process">
                    <div class="info" >
                        <div class="circle ${process.progress <= temp && 'active'}">${process.progress}</div>
                        <div class="title">${process.title}</div>
                    </div >
                <div class='line idx_${process.progress} ${process.progress < temp && 'active'}'></div>
                </div >`
            );
            document.getElementById("processes").innerHTML = dom.join('')
        }
    </script>
</head>

<body onload="setProcesses()">
    <main>
        <header>
            {% if progress == 0%}
            <h3><span class="name">{{data[1]}}</span>은/는 계약 정보 입력 단계입니다.</h3>
            <h3 class="content">계약 정보를 입력해 주세요.</h3>
            {% elif progress == 1%}
            <h3><span class="name">{{data[1]}}</span>은/는 계약승인 대기중입니다</h3>
            <h3 class="content">담당 감독이 계약 단계 서류 검토 중입니다.</h3>
            {% elif progress == 2%}
            <h3><span class="name">{{data[1]}}</span>은/는 계약서류 업로드 단계입니다.</h3>
            <h3 class="content">계약에 필요한 서류를 출력 후, 직인을 찍고 업로드 해주세요.</h3>

            {% elif progress == 3%}
            <h3><span class="name">{{data[1]}}</span>은/는 착공 정보 입력 단계입니다.</h3>
            <h3 class="content">착공 단계 정보를 입력해주세요.</h3>
            {% elif progress == 4%}
            <h3><span class="name">{{data[1]}}</span>은/는 착공승인 대기중입니다</h3>
            <h3 class="content">담당 감독이 착공 단계 서류 검토 중입니다.</h3>
            {% elif progress == 5%}
            <h3><span class="name">{{data[1]}}</span>은/는 착공서류 업로드 단계입니다.</h3>
            <h3 class="content">착공에 필요한 서류를 출력 후, 직인을 찍고 업로드 해주세요.</h3>

            {% elif progress == 6%}
            <h3><span class="name">{{data[1]}}</span>은/는 준공 정보 입력 단계입니다.</h3>
            <h3 class="content">준공 단계 정보를 입력해주세요.</h3>
            {% elif progress == 7%}
            <h3><span class="name">{{data[1]}}</span>은/는 준공승인 대기중입니다</h3>
            <h3 class="content">담당 감독이 준공 단계 서류 검토 중입니다.</h3>
            {% elif progress == 8%}
            <h3><span class="name">{{data[1]}}</span>은/는 준공서류 업로드 단계입니다.</h3>
            <h3 class="content">준공 단계 필요 서류를 출력 후 직인을 찍고 업로드 해주세요.</h3>

            {% elif progress == 9%}
            <h3><span class="name">{{data[1]}}</span>은/는 준공 승인이 완료 되었습니다.</h3>
            {% endif%}
        </header>
        <section id="processes" class="processes"></section>
    </main>
</body>
{% endblock %}
