{% extends "index.html" %}
{% block main %}
<h1 class="mt-4" style="text-align:left;"><b>공사 리스트 관리</b></h1>
<ol class="breadcrumb mb-4"><li class="breadcrumb-item active">승인 처리후 업체에서 관련 서류 출력이 가능합니다.</li></ol>

<!-- 승인 요청 리스트 -->
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <b>승인요청 리스트</b>
    </div>
    <div class="card-body">
        <table id="datatablesSimple1">
            <thead>
                <tr>
                    <th>구분</th>
                    <th>관리번호</th>
                    <th>계약건명</th>
                    <th>사업장</th>
                    <th>업체명</th>
                    <th>진행상황</th>
                    <th>승인처리</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>구분</th>
                    <th>관리번호</th>
                    <th>계약건명</th>
                    <th>사업장</th>
                    <th>업체명</th>
                    <th>진행상황</th>
                    <th>승인처리</th>
                </tr>
            </tfoot>
            <tbody>
                {% for R in R_data %}
                <!-- 해당 공사 상세페이지로 이동 -->
                {% if R[9] == 1%}
                <tr>
                    <td onclick="location.href='/goto/{{R[0]}}';" style="cursor:pointer;">{{R[12]}}</td>
                    <td onclick="location.href='/goto/{{R[0]}}';" style="cursor:pointer;">{{R[0]}}</td>
                    <td onclick="location.href='/goto/{{R[0]}}';" style="cursor:pointer;">{{R[1]}}</td>
                    <td onclick="location.href='/goto/{{R[0]}}';" style="cursor:pointer;">{{R[2]}}</td>
                    <td onclick="location.href='/goto/{{R[0]}}';" style="cursor:pointer;">{{R[3]}}</td>
                    <td onclick="location.href='/goto/{{R[0]}}';" style="cursor:pointer;">{{process[R[9]]}}</td>
                    <td>
                        <button class="cBtn" onclick="location.href='/approval_proc/{{R[0]}}';" style="cursor:pointer;">승인</button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td onclick="location.href='/go1/{{R[0]}}';" style="cursor:pointer;">{{R[12]}}</td>
                    <td onclick="location.href='/go1/{{R[0]}}';" style="cursor:pointer;">{{R[0]}}</td>
                    <td onclick="location.href='/go1/{{R[0]}}';" style="cursor:pointer;">{{R[1]}}</td>
                    <td onclick="location.href='/go1/{{R[0]}}';" style="cursor:pointer;">{{R[2]}}</td>
                    <td onclick="location.href='/go1/{{R[0]}}';" style="cursor:pointer;">{{R[3]}}</td>
                    <td onclick="location.href='/go1/{{R[0]}}';" style="cursor:pointer;">{{process[R[9]]}}</td>
                    <td>
                        <button class="cBtn" onclick="location.href='/approval_proc/{{R[0]}}';" style="cursor:pointer;">승인</button>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 담당 공사 리스트 -->
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <b>담당 공사 리스트</b>
    </div>
    <div class="card-body">
        <table id="datatablesSimple2">
            <thead>
                <tr>
                    <th>구분</th>
                    <th>관리번호</th>
                    <th>계약건명</th>
                    <th>사업장</th>
                    <th>업체명</th>
                    <th>진행상황</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>구분</th>
                    <th>관리번호</th>
                    <th>계약건명</th>
                    <th>사업장</th>
                    <th>업체명</th>
                    <th>진행상황</th>
                </tr>
            </tfoot>
            <tbody>
                {% for A in A_data %}
                <tr>
                    <td onclick="location.href='/go/{{A[0]}}';" style="cursor:pointer;">{{A[12]}}</td>
                    <td onclick="location.href='/go/{{A[0]}}';" style="cursor:pointer;">{{A[0]}}</td>
                    <td onclick="location.href='/go/{{A[0]}}';" style="cursor:pointer;">{{A[1]}}</td>
                    <td onclick="location.href='/go/{{A[0]}}';" style="cursor:pointer;">{{A[2]}}</td>
                    <td onclick="location.href='/go/{{A[0]}}';" style="cursor:pointer;">{{A[3]}}</td>
                    <td onclick="location.href='/go/{{A[0]}}';" style="cursor:pointer;">{{process[A[9]]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 

{% endblock %}